# >>> synchro excludes >>>
@eaDir/
**/@eaDir/**
__pycache__/
**/__pycache__/**
.git/
**/.git/**
.vscode/
**/.vscode/**
working/
**/working/**
file/Deploy/
**/file/Deploy/**
config.json
**/config.json
# <<< synchro excludes <<<
