# >>> synchro excludes >>>
@eaDir/
**/@eaDir/**
__pycache__/
**/__pycache__/**
.git/
**/.git/**
.vscode/
**/.vscode/**
working/
**/working/**
_working/
**/_working/**
file/Deploy/
**/file/Deploy/**
config.json
**/config.json
bp_api_php.zip
**/bp_api_php.zip
# <<< synchro excludes <<<
